name: CD pipeline

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to docker hub
      uses: actions-hub/docker/login@master
      env:
       DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
       DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Build the new release :latest
      run: docker build -t hosniah/my-demo-app:v2.0 .

    - name: Push to docker hub :latest
      uses: actions-hub/docker@master
      with:
       args: push hosniah/my-demo-app:v2.0
